<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ vite_asset('resources/styles/index.css') }}">
    <link rel="stylesheet" href="{{ vite_asset('resources/scripts/index.ts') }}">
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
